.background 
{
    background: url("../images/background.png") no-repeat;
    background-position-y: 35vw;
    height: 218vw;
    background-size: 120vw;
    position: absolute;
    z-index: -1;
    width: 100%;
}

body
{
    margin: 0;
}

.navigation_lists
{
    margin: 0;
    list-style-type: none;
    padding-left: 0;
}

.about_me 
{
    color: #333;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    font: 7vw/8vw Georgia;
    transition: 0.4s;
    text-align: center;
    padding: 2% 5% 2% 5%;
}

.about_me:hover 
{
    color: #ffe;
    transition: 0.4s;
    background: #15a98b;
    padding: 2% 5% 2% 5%;;
}

.my_hobbies 
{
    color: #333;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    font: 7vw/8vw  Georgia;
    transition: 0.4s;
    text-align: center;
    padding: 2% 5% 2% 5%;;
}

.my_hobbies:hover
{
    color: #ffe;
    transition: 0.4s;
    background: #15a98b;
    padding: 2% 5% 2% 5%;;
}

.favorite_film 
{
    color: #333;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    font: 7vw/8vw  Georgia;
    transition: 0.4s;
    text-align: center;
    padding: 2% 5% 2% 5%;;
}

.favorite_film:hover
{
    color: #ffe;
    transition: 0.4s;
    background: #15a98b;
    padding: 2% 5% 2% 5%;;
}

.my_photo
{
    width: 70vw;
    border-radius: 5px;
}

.text_quote::before 
{
    content: '';
}

.text_quote 
{
    color: #000;
    font: italic 8vw/10vw Georgia;
    margin-bottom: 0;
}

.author 
{
    font: 600 6vw/8vw Open Sans;
    color: #000;
    margin: 3vw 0 3vw 0;
}

.photo_quote
{
    padding: 5vw;
}

.photo
{
    margin: 0;
}

.name
{
    color: #000;
    font: 700 13vw/12vw Open Sans;
    margin-top: 5vw;
    margin-bottom: 9vw;
}

.info
{
    padding: 5vw 5vw 0 5vw;
}

.text 
{
    font: 19px/21px Georgia;
    color: #555;
    margin: 0;
}

.my_hobby
{
    font: normal 30px Open Sans;
    margin: 2vw 0;
}

.lists
{
    padding: 5vw;
}

.title_list 
{
    font: 600 24px/28px Open Sans;
    color: #15a98c;
}

.element_lists 
{
    color: #555;
    font: 19px/21px Georgia;
    padding-left: 10vw;
    margin: 3vw 0;
}

.link
{
    color: #15a98b;
    font: 24px Georgia;
    position: relative;
    text-decoration: underline;
    transition: 0.4s;
    padding: 5vw 0;
}

.link::after 
{
    content: '\2192';
    display: inline-block;
    position: absolute;
}

.favourite_films
{
    font: normal 34px Open Sans;
    color: #333;
    padding: 5vw 5vw 0 3vw;
}

.my_movies
{
    background-color: #f9f9f9;
    padding-bottom: 2vw;
}

.films 
{
    padding: 0 5vw;
}

.film_picture
{
    width: 80vw;
    border-radius: 5px;
}

.name_film 
{
    font: 700 28px Open Sans;
    color: #333;
    margin: 1vw 0;
}

.text_film 
{
    font: 19px/21px Georgia;
    color: #555;
    margin: 2vw 0;
}

.text_hobby
{
    margin-bottom: 5vw;
}

.film
{
    margin-bottom: 10vw;
    box-sizing: border-box;
}

.button 
{
    border-radius: 5px;
    display: block;
    font: 7vw/8vw Georgia;
    text-decoration: none;
    color: #f5f5f5;
    background-color: #15a98c;
    text-align: center;
    padding: 5vw;
    box-sizing: border-box;
    transition: 0.4s;
    margin: 0 5vw;
}

.title
{
    text-align: center;
}

.left
{
    position: relative;
    left: 40vw;
    top: 15vw;
    display: inline-block;
    height: 1px;
    width: 12vw;
    background: #c4c4c4;
}

.right 
{
    position: relative;
    right: 40vw;
    top: -18vw;
    display: inline-block;
    height: 1px;
    width: 12vw;
    background: #c4c4c4;
}

.write 
{
    font: normal 9vw Open Sans;
}

.form_field
{
    margin-bottom: 7vw;
}

.control_label
{
    font: 400 7vw/8vw Open Sans;
    color: #333;
}

.required
{
    color: red;
    font-size: 8vw;
}

.field 
{
    margin: 4vw 0 0 1vw;
    border: 2px solid #c9c9c9;
    width: 79vw;
    height: 13vw;
    font: 400 7vw 'Open Sans', sans-serif;
    padding: 1vw 0 1vw 3vw;
    border-radius: 1vw;
}

.forms
{
    padding: 0 5vw 10vw 5vw;
}

.field:hover
{
    cursor: pointer;
}

.select
{
    margin: 1vw 0 0 1vw;
    width: 84vw;
    height: 17vw;
    border: 2px solid #c9c9c9;
    color: #555;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/arrow.png) no-repeat;
    background-position: 70vw 5vw;
    padding-left: 5vw;
    font: 400 7vw Open Sans, sans-serif;
    border-radius: 1vw;
}

.select:hover
{
    border-radius: 3px;
    border: 2px solid #a6a6a6;
    cursor: pointer;
}

.gender 
{
    margin: 8vw 0 6vw 1vw;
}

.gender_radio
{
    margin-top: 5vw;
}

.man 
{
    padding-right: 3vw;
    font: 6vw Open Sans;
}

.form_radio:hover
{
    cursor: pointer;
}

.message
{
    margin: 1vw 0 7vw 1vw;
    border: 2px solid #c9c9c9;
    resize: none;
    color: #555;
    font: 7vw Open Sans, sans-serif;
    box-sizing: border-box;
    height: 50vw;
    width: 100%;
    padding: 5vw 0 0 5vw;
    border-radius: 3px;
}

.button_send 
{
    cursor: pointer;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    width: 100%;
    height: 17vw;
    font: 7vw Georgia, serif;
    color: #f5f5f5;
    background-color: #15a98c;
}

.message:hover
{
    cursor: pointer;
}

.field:focus,
.select:focus,
.message:focus
{
    outline: none;
    border: 2px solid #15a98c;
    border-radius: 3px;
}

.end
{
    display: block;
    text-align: center;
    font: 6vw/8vw Georgia;
    color: #555;
    padding: 5vw 2vw 5vw 2vw;
    background-color: #f9f9f9;
}

@media screen and (min-width: 481px) 
{
    .navigation_lists
    {
        display: flex;
    }

    .about_me
    {
        font: 4vw Georgia;
        padding: 3vw 0;
    }

    .my_hobbies
    {
        font: 4vw Georgia;
        padding: 3vw 0;
    }

    .favorite_film
    {
        font: 4vw Georgia;
        padding: 3vw 0;
    }

    .list_me
    {
        width: 23%;
    }

    .list_hobby 
    {
        width: 29%;
    }

    .list_film 
    {
        width: 48%;
    }

    .background 
    {
        background-position-y: 10.5vw;
        background-size: 100vw;
        height: 102vw;
    }

    .my_photo 
    {
        width: 40vw;
    }

    .name
    {
        font: 700 8vw/8vw Open Sans;
        margin-top: 5vw;
        margin-bottom: 3vw;
    }

    .photo_quote
    {
        padding-bottom: 0;
    }

    .text_quote 
    {
        font: italic 5vw/6vw Georgia;
    }

    .quotes
    {
        margin-top: 4vw;
    }

    .author
    {
        font: 600 2.5vw/1vw Open Sans;
    }

    .about_me:hover 
    {
        padding: 3vw 0;
    }

    .lists
    {
        padding: 5vw 5vw 0 5vw;
    }

    .element_lists
    {
        padding-left: 5vw;
    }

    .my_hobbies:hover
    {
        padding: 3vw 0;
    }

    .favorite_film:hover 
    {
        padding: 3vw 0;
    }

    .film_picture
    {
        width: 60vw;
    }

    .text_hobby
    {
        margin-bottom: 5vw;
    }

    .control_label
    {
        font: 400 6vw/5vw Open Sans;
    }

    .field 
    {
        height: 10vw;
    }

    .select 
    {
        background-position: 52vw 3vw;
        height: 9vw;
        font: 400 4vw Open Sans, sans-serif;
        margin: 4vw 0 0 0;
        width: 60vw;
    }

    .gender 
    {
        margin: 0 0 3vw 0;
    }

    .form_radio
    {
        width: 3vw;
        height: 3vw;
    }

    .gender_radio
    {
        margin-top: 3vw;
    }

    .man
    {
        padding-right: 2vw;
        font-size: 4vw;
    }
    .message 
    {
        height: 40vw;
        margin: 1vw 0 5vw 1vw;
    }

    .button_send
    {
        font: 4vw Georgia, serif;
        width: 30vw;
        height: 13vw;
    }

    .button 
    {
        font: 4vw/5vw Georgia;
        height: 2vw;
        width: 40vw;
        padding: 2vw 1vw 7vw 1vw;
        margin: 0 2vw 5vw 30vw;
    }

    .end
    {
        font: 4vw/6vw Georgia;
    }

    .forms
    {
        max-width: 60vw;
        margin: 0 auto;
        padding: 0 0 10vw 0;
    }

    .write
    {
        font-size: 6vw;
    }

    .left
    {
        left: 30vw;
        top: 10vw;
        width: 10vw;
    }

    .right
    {
        top: -11vw;
        right: 29vw;
        width: 10vw;
    }

    .control_label
    {
        font-size: 5vw;
    }

    .required
    {
        font-size: 6vw;
    }

    .field
    {
        width: 56vw;
        height: 6vw;
        margin: 2vw 0 0 0;
    }

    .form_field
    {
        margin-bottom: 3vw;
    }
}

@media screen and (min-width: 769px)
{
    .background
    {
        background: url("../images/background_two.png") no-repeat;
        background-size: 150vw;
        background-position-y: 5vw;
        height: 66vw;
    }

    .list_me 
    {
        width: 14%;
    }

    .list_hobby 
    {
        width: 21%;
    }

    .list_film
    {
        width: 29%;
    }
    
    .navigation_lists
    {
        display: flex;
        justify-content: center;
    }

    .about_me
    {
        font: 2vw/3vw Georgia;
        padding: 1vw 1vw;
    }

    .about_me:hover
    {
        font: 2vw/3vw Georgia;
        padding: 1vw 1vw;
    }

    .my_hobbies
    {
        font: 2vw/3vw Georgia;
        padding: 1vw 1vw;
    }

    .my_hobbies:hover 
    {
        padding: 1vw 1vw;
    }

    .favorite_film
    {
        font: 2vw/3vw Georgia;
        padding: 1vw 1vw;
    }

    .favorite_film:hover 
    {
        padding: 1vw 1vw;
    }

    .my_photo
    {
        width: 30vw;
    }
    
    .photo_quote
    {
        padding: 5vw 5vw 2vw 5vw;
    }

    .name 
    {
        font: 700 5vw/6vw Open Sans;
        margin-top: 3vw;
        margin-bottom: 4vw;
        color: #fff;
    }

    .text_quote 
    {
        font: italic 4vw/4vw Georgia;
        color: #fff;
    }

    .author
    {
        font: 600 2vw Open Sans;
        color: #fff;
        margin: 2vw 0;
    }

    .info 
    {
        padding: 0vw 5vw
    }

    .my_hobby
    {
        margin: 2vw 0;
    }
    
    .text_hobby
    {
        margin-bottom: 2vw;
    }

    .lists
    {
        display: flex;
    }

    .list_one
    {
        width: 53%;
    }

    .element_lists
    {
        padding-left: 5vw;
        margin: 2vw 0;
    }

    .link 
    {
        padding: 0;
    }

    .film 
    {
        margin-bottom: 4vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .film_picture
    {
        width: 40vw;
        align-self: center;
    }

    .name_film
    {
        margin: 0;
    }

    .text_film 
    {
        padding: 1vw;
        margin: 0;
    }

    .button 
    {
        font: 3vw/3vw Georgia;
        padding: 2vw;
        width: 30vw;
        height: 7vw;
        margin-left: 35vw;
    }

    .forms
    {
        max-width: 50vw;
        margin: 0 auto;
        padding-bottom: 6vw;
    }
    .write 
    {
        font: normal 5vw Open Sans;
        margin: 2vw 0 2vw 0;
    }

    .left 
    {
        left: 22vw;
        top: 6vw;
        width: 6vw;
    }

    .right 
    {
        right: 22vw;
        top: -7vw;
        width: 6vw;
    }

    .control_label
    {
        font: 400 3vw/4vw Open Sans;
    }

    .required 
    {
        font-size: 4vw;
    }

    .field 
    {
        margin: 1vw 0 0 0;
        height: 3vw;
        width: 46vw;
    }

    .form_field
    {
        margin-bottom: 2vw;
    }

    .man 
    {
        font: 2vw Open Sans;
    }

    .button_send 
    {
        height: 15vw;
        font: 5vw Georgia, serif;
    }

    .select
    {
        height: 5.5vw;
        width: 49.5vw;
        margin: 1vw 0 0 0;
        background-size: 3vw;
        background-position: 45vw 1.8vw;
        font-size: 2vw;
        padding-left: 2vw;
    }

    .gender
    {
        margin: 0 0 2vw 0;
    }

    .gender_radio
    {
        margin-top: 1vw;
    }

    .form_radio
    {
        width: 1.5vw;
        height: 1.5vw;
    }

    .message
    {
        font-size: 2vw;
        padding: 1vw 0 0 2vw;
        height: 15vw;
        width: 50vw;
        margin: 2vw 0 3vw 0;
        border-radius: 1vw;
    }

    .button_send
    {
        height: 7vw;
        font-size: 2.5vw;
        width: 25vw;
    }

    .end
    {
        padding: 3vw 2vw 2vw 2vw;
        font: 2vw/3vw Georgia;
    }
}


@media screen and (min-width: 1025px) 
{
    .background 
    {
        background: url("../images/background_three.png") no-repeat;
        background-position-y: 50px;
        height: 450px;
    }

    .information 
    {
        margin-top: 210px;
    }

    .container 
    {
        max-width: 1200px;
        margin: 0 auto;
    }

    .navigation 
    {
        height: 50px;
        margin-left: 125px;
    }

    .list_me 
    {
        width: 140px;
    }

    .list_hobby 
    {
        width: 167px;
    }

    .list_film 
    {
        width: 230px;
    }

    .about_me 
    {
        background: url(../images/about_me_black.png) no-repeat center top;
        display: block;
        background-position: 21px;
        font: 19px/22px Georgia;
        padding: 14px 17px 15px 41px;
        transition: 0.4s;
    }

    .about_me:hover 
    {
        background: #15a98b url(../images/about_me_white.png) no-repeat center top;
        color: #ffe;
        background-position: 21px;
        padding: 14px 17px 15px 41px;
        font: 19px/22px Georgia;
    }

    .my_hobbies 
    {
        font: 19px/22px Georgia;
        padding: 15px 25px 14px 45px;
        background: url(../images/hobby_black.png) no-repeat center top;
        background-position: 19px;
        transition: 0.4s;
    }

    .my_hobbies:hover 
    {
        background: #15a98b url(../images/hobby_white.png) no-repeat center top;
        color: #ffe;
        background-position: 19px;
        font: 19px/22px Georgia;
        padding: 15px 25px 14px 45px;
    }

    .favorite_film 
    {
        font: 19px/22px Georgia;
        padding: 15px 20px 14px 39px;
        background: url(../images/video_black.png) no-repeat center top;
        background-position: 14px;
        transition: 0.4s;
    }

    .favorite_film:hover 
    {
        background: #15a98b url(../images/video_white.png) no-repeat center top;
        color: #ffe;
        background-position: 15px;
        transition: 0.4s;
        font: 19px/22px Georgia;
        padding: 15px 20px 14px 39px;
    }

    .my_photo 
    {
        width: 330px;
        height: 350px;
    }

    .quotes 
    {
        margin: 25px 0 0 66px;
    }

    .name_quote 
    {
        display: flex;
        flex-direction: column;
    }

    .name 
    {
        color: #333;
        font: 700 48px/42px Open Sans;
        margin: 83px 0 32px 60px;
        order: 1;
    }

    .photo_quote 
    {
        display: flex;
        padding: 0;
        margin-left: 125px;
        margin-top: 210px;
    }

    .text_quote::before 
    {
        content: '';

    }

    .text_quote 
    {
        font: italic 28px/42px Georgia;
    }

    .author 
    {
        font: 600 16px/42px Open Sans;
        margin-top: 4px;
    }

    .info 
    {
        display: grid;
        grid-template-rows: 230px 260px 60px;
        grid-template-columns: 330px 530px;
        padding: 0;
        margin-left: 125px;
    }

    .text_hobby 
    {
        grid-row-start: 2;
        grid-column-start: 2;
        margin-left: 50px;
    }

    .list_one 
    {
        margin-top: 45px;
        width: 377px;
    }

    .list_two 
    {
        margin-top: 43px;
    }

    .text 
    {
        text-align: left;
        margin: 7px 0 16px 11px;
        font: 19px/32px Georgia;
        max-width: 560px;
    }

    .my_hobby 
    {
        font: normal 36px/60px Open Sans;
        margin: 0 0 0 8px;
    }

    .title_list 
    {
        font: 600 24px/32px Open Sans;
    }

    .element_lists 
    {
        margin: 12px 0 41px 0px;
        font: 19px/36px Georgia;
        padding-left: 20px;
    }

    .text_me 
    {
        grid-row-start: 1;
        grid-column-start: 2;
        margin-left: 50px;
    }

    .vk_link 
    {
        grid-row-start: 3;
        grid-column-start: 2;
    }

    .link 
    {
        font: 19px Georgia;
        top: 30px;
        padding-left: 58px;
    }

    .my_movies 
    {
        background-color: #f9f9f9;
        margin-top: 54px;
        padding-bottom: 30px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .favourite_films 
    {
        font: normal 36px Open Sans;
        color: #333333;
        padding-left: 6px;
        padding-top: 33px;
    }

    .films
    {
        padding-left: 0;
    }
    .name_film 
    {
        font: 700 22px Open Sans;
        color: #333;
        margin-bottom: 0;
    }

    .film_picture 
    {
        width: 290px;
        height: 190px;
        border-radius: 6px;
    }


    .text_film 
    {
        font: 16px/28px Georgia;
        color: #555;
        padding: 0;
    }

    .button 
    {
        border-radius: 5px;
        display: block;
        margin: 38px 0 0 400px;
        font: 19px/32px Georgia;
        text-decoration: none;
        color: #f5f5f5;
        background-color: #15a98c;
        width: 220px;
        height: 50px;
        text-align: center;
        padding: 10px 0 0 0;
        box-sizing: border-box;
        transition: 0.4s;
    }

    .forms 
    {
        margin: 0 auto;
        padding-bottom: 5vw;
    }

    .write 
    {
        font: normal 35px/42px Open Sans;
    }

    .title 
    {
        text-align: center;
        margin: 57px 0 21px 0;
    }

    .left 
    {
        position: relative;
        left: 247px;
        top: 85px;
        display: inline-block;
        height: 1px;
        width: 200px;
        background: #c4c4c4;
    }

    .right 
    {
        position: relative;
        right: 250px;
        top: -62px;
        display: inline-block;
        height: 1px;
        width: 200px;
        background: #c4c4c4;
    }

    .control_label 
    {
        font: 400 20px/32px Open Sans;
        color: #333;
    }

    .required 
    {
        color: red;
        font-size: 24px;
    }

    .form 
    {
        max-width: 540px;
        padding-left: 7px;
        margin: 0 auto;
    }

    .field 
    {
        margin: 4px 0 0 2px;
        border: 2px solid #c9c9c9;
        width: 524px;
        height: 45px;
        font: 400 18px 'Open Sans', sans-serif;
        padding: 2px 0 0 12px;
        border-radius: 3px;
    }

    .field:hover 
    {
        cursor: pointer;
    }

    .gender 
    {
        margin: 11px 0 38px 2px;
    }

    .gender_radio 
    {
        margin-top: 10px;
    }

    .man 
    {
        padding-right: 36px;
        font: 18px Open Sans;
    }

    .form_radio 
    {
        margin: 0 3px 0 1px;
        width: 10px;
        height: 10px;
    }

    .form_radio:hover 
    {
        cursor: pointer;
    }

    .navigation_lists 
    {
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        display: flex;
    }

    .my_photo 
    {
        border-radius: 5px;
    }

    .film 
    {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 0.5fr 1fr;
    }

    .end 
    {
        display: block;
        text-align: center;
        font: 16px/32px Georgia;
        color: #555;
    }

    .form_field 
    {
        margin-bottom: 22px;
    }

    .select 
    {
        margin: 4px 0 18px 2px;
        width: 540px;
        height: 50px;
        border: 2px solid #c9c9c9;
        color: #555;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url(../images/arrow.png) no-repeat;
        background-position: 497px 14px;
        padding-left: 15px;
        font: 18px Open Sans, sans-serif;
        border-radius: 3px;
    }

    .select:hover 
    {
        border-radius: 3px;
        border: 2px solid #a6a6a6;
        cursor: pointer;
    }

    .button_send 
    {
        cursor: pointer;
        border: 1px solid #f5f5f5;
        border-radius: 5px;
        width: 220px;
        height: 50px;
        font: 19px Georgia, serif;
        color: #f5f5f5;
        background-color: #15a98c;
        margin-left: 2px;
    }

    .message 
    {
        margin: 3px 0 46px 2px;
        border: 2px solid #c9c9c9;
        resize: none;
        color: #555;
        font: 18px Open Sans, sans-serif;
        box-sizing: border-box;
        height: 150px;
        width: 100%;
        padding: 15px 0 0 12px;
        border-radius: 3px;
    }

    .message:hover 
    {
        cursor: pointer;
    }

    .field:focus,
    .select:focus,
    .message:focus 
    {
        outline: none;
        border: 2px solid #15a98c;
        border-radius: 3px;
    }
}

@media screen and (min-width: 1201px)
{
    .info
    {
        grid-gap: 0 50px;
    }

    .container
    {
        margin: 0;
        max-width: 100%;
    }

    .text_me
    {
        margin-left: 0;
    }

    .navigation
    {
        margin-left: 0;
    }

    .text_hobby
    {
        margin-left: 0;
    }
    
    .link
    {
        padding-left: 10px;
    }

    .films
    {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
    }

    .film
    {
        display: block;
    }

    .button
    {
        margin-left: auto;
        margin-right: auto;
    }

    .left
    {
        top: 50px;
    }

    .information
    {
        margin-left: 125px;
    }
}
