body {
	background: url("../images/background.png") no-repeat;
	background-position-y: 50px;
	margin: 0;
}

.information {
	margin-top: 210px;
}

.container {
	max-width: 950px;
	margin: 0 auto;
}

.navigation {
	width: 100%;
	margin: 0 auto;
	height: 50px;
}

.photo {
	width: 330px;
	height: 350px;
	margin: 210px 0 0 0;
}

.quotes {
	padding-bottom: 0;
	margin: -325px 0 0 395px;
}


.text_quote::before {
	content: '';

}

.text_quote {
	color: #fff;
	font: italic 28px/42px Georgia;
	margin-bottom: 0;
}

.author {
	font: 600 16px/42px Open Sans;
	color: #f5f5f5;
	margin-top: 4px;
}

.top_information {
	display: flex;
	margin-top: 50px;
}

.lists {
	width: 330px;
	margin-top: 192px;
}

.title_list {
	font: 600 24px/32px Open Sans;
	color: #15a98c;
}

.element_lists {
	color: #555555;
	margin: 12px 0 41px -20px;
	font: 19px/36px Georgia;
}

.name {
	color: #333333;
	width: 580px;
	font: 700 48px/42px Open Sans;
	margin: 31px 0 32px 10px;
}

.line {
	border: 3px solid #45c3aa;
	border-radius: 3px;
	width: 54px;
	margin: 0 0 43px 10px;
}

.info {
	margin-left: 75px;
	width: 570px;
}

.text {
	text-align: left;
	margin: 7px 0 16px 11px;
	font: 19px/32px Georgia;
	color: #555555;
}

.my_hobby {
	font: normal 36px/60px Open Sans;
	margin: 33px 0 8px 10px;
}


.link {
	color: #15a98b;
	font: 19px Georgia;
	position: relative;
	top: 30px;
	text-decoration: underline;
	margin-left: 10px;
}

.link::after {
	content: '\2192';
	display: inline-block;
	position: absolute;
	left: 121px;
}

.about_me {
	color: #333333;
	text-align: center;
	text-decoration: none;
	background: url(../images/about_me_black.png) no-repeat center top;
	display: block;
	background-position: 21px;
	box-sizing: border-box;
	font: 19px/22px Georgia;
	padding: 15px 23px 14px 26px;
}

.about_me:hover {
	background: #15a98b url(../images/about_me_white.png) no-repeat center top;
	color: #ffe;
	background-position: 21px;
}

.navigation_lists {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
	display: flex;
}

.my_hobbies {
	font: 19px/22px Georgia;
	color: #333333;
	text-align: center;
	margin-top: 0px;
	text-decoration: none;
	padding: 15px 25px 14px 45px;
	background: url(../images/hobby_black.png) no-repeat center top;
	display: block;
	background-position: 19px;
	box-sizing: border-box;

}

.my_hobbies:hover {
	background: #15a98b url(../images/hobby_white.png) no-repeat center top;
	;
	color: #ffe;
	background-position: 19px;
}

.favorite_film {
	font: 19px/22px Georgia;
	color: #333333;
	text-align: center;
	margin-top: 0px;
	text-decoration: none;
	padding: 15px 20px 14px 41px;
	background: url(../images/video_black.png) no-repeat center top;
	display: block;
	background-position: 15px;
}

.favorite_film:hover {
	background: #15a98b url(../images/video_white.png) no-repeat center top;
	;
	color: #ffe;
	background-position: 15px;
}

.favourite_films {
	font: normal 36px Open Sans;
	color: #333333;
	margin-left: 167px;
}

.bottom {
	background-color: #f9f9f9;
	margin-top: 117px;
}

.films {
	padding-left: 10px;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.film_picture {
	width: 285px;
	height: 190px;
	border-radius: 6px;
}

.name_film {
	font: Bold 22px Open Sans;
	color: #333333;
	margin-bottom: 18px;
}

.text_film {
	font: 16px/28px Georgia;
	color: #555;
}

.film {
	width: 285px;
	box-sizing: border-box;
	margin-right: 20px;
}

.button {
	border-radius: 5px;
	display: block;
	margin: 37px 0 0 646px;
	font: 19px/32px Georgia;
	text-decoration: none;
	color: #f5f5f5;
	background-color: #15a98c;
	width: 220px;
	height: 50px;
	text-align: center;
	padding-top: 10px;
	box-sizing: border-box;
}

.end {
	display: block;
	position: absolute;
	text-align: center;
	font: 16px/32px Georgia;
	color: #555;
	padding: 67px 0 0 115px;
}
